.flex-row{
    display: flex;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
}
header{
    background-color: #535151;
}
.header_nav{
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    flex-wrap: wrap;
    position: relative;
}
.header_img{
    width: 100px;
}
.header_ul{
    position: absolute;
    left: 30%;
    gap: 25px;
}
header a{
    transition: all .5s ease-in;
}
header a:hover{
    font-size: 19px;
    color: #67A0C1;
    font-weight: bold;
}
.header_carrito{
    display: flex;
    position: absolute;
    width: 59px;
    right: 10%;
    top: 17%;
}
.header_carrito span{
    color: #000000;
    margin: 10px 0 0px 6px;
}

.listContainer{
    margin-top: 30px;
    text-align: center;
}

.ItemCount{
    margin: 40px 0;
}
.ItemCount p{
    margin: 15px 0;
}
.ItemCount img{
    width: 250px;
}
.ItemCount i{
    cursor: pointer;;
}
.ItemCount span{
    margin: 0 10px;
}
.ItemCount button{
    margin: 15px 0;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.ItemList{
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.Item{
    margin: 40px 0;
    color: black;
}
.Item img{
    width: 250px;
}
.ItemDetail{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.ItemDetail picture{
    width: 300px;
}
.ItemDetail h3{
    margin: 20px 0;
}

.btn_comprar ,.btn_endCompra{
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.btn_comprar:active ,.btn_endCompra:active{
    background-color: #67A0C1;
}

.cart{
    text-align: center;
    margin-top: 40px;
}
.Cart__Item picture{
    width: 180px;
}
.Cart__Item button{
    margin-top: 18px;
    padding: 7px 8px;
    border-radius: 6px;
    cursor: pointer;
}